# Python cache

**pycache**/
*.pyc

# Packaging

*.egg-info/

# Build

build/

# Compiled outputs

*.exe
*.dll
*.pyd

# CMake

CMakeCache.txt
cmake_install.cmake
Makefile
CMakeFiles/

# Objects

*.o
*.obj

# IDE

.vscode/
